<head>
  <style>
    header {
    background-color: #672714;
    color: #F1E3C8;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #672714;
    padding: 10px;
  }
  
  nav a {
    color: #F1E3C8;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #672714;
  }
  </style>
</head>
<header>
    <h1 style="color: #F1E3C8;">IMPR3SSIO</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/upload">Upload</a>
      <a href="/cart">Cart</a>
      <a href="/profile">Profile</a>
      <% if (user) { %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
    </nav>
  </header>